*{
    /*margin: 0; padding: 0;*/
    box-sizing: border-box;
}

body{
    margin: 0;
    /*height: 100vh;
    width: 100vw;*/
    overflow: hidden;
    font-weight: 700;
    font-family: Arial, Helvetica, Sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #f6f6f6;
}

form{
    width: 600px;
    height: 1000px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}


.title{
    text-align: center;
    font-size: 25px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}
/*
.fields{
    width: 100%;
    padding: 75px 75px 5px 5px;
}

.fields input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}
.sin{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}*/

.btn{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, Sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    transition: all 0.5s;
}

.btn:hover{
    background-color: #50e5b9;
}

.link{
    padding-top: 20px;
    text-align: center;
}

.link a{
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}

